* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6B7E89;
}

.top-bar {
    margin: auto;
    display: grid;
    width: 210mm;
    border: solid black;

}

header ul{
    gap: 50px;

}

/* detalles pagina cv */
.container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background-color: white;

}

/* informacion barra izquierda cv */
.container .card-one {
    padding: 40px 20px;
    padding-left: 5px;
    padding-right: 23px;
    background-color: black;
    width: 100%;
    color: white;
    border: 4px solid #2EA3FF;
}

.container .card-one .profile {
    display: inline flex;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 270px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #2EA3FF;
    background-image: url(../img/foto\ cv.png);
    background-position: center top;
    background-size: 100%;

}

.contact-box {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.social-links {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 25%;
    padding: 30px;
    border: 4px solid #2EA3FF;
}

.hobby {
    margin: 20px;
    text-align: center;
}

.iconos-hobby {
    display: flex;
    gap: 10px;
    margin: 40px;
    justify-content: center;
}

/* datos personales*/
.personal-data h2 {
    text-align: center;
    color: #2EA3FF
}

.academic-data h2 {
    text-align: center;
    color: #2EA3FF
}

.work-data h2 {
    text-align: center;
    color: #2EA3FF
}

/* carrusel de portafolio*/
.briefcase h2 {
    text-align: center;
    color: #2EA3FF;
}

.briefcase img {
    width: 100px;
    height: 400px;
}

.bot-bar {
    margin: auto;
    display: grid;
    width: 210mm;
    color: black;
    text-align: center;
    border: solid black;
}

footer h5 {
    color: white;
}