header {
  background-image: url("../img/imagenderocasencabezado.jpeg");
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 2em;
  text-align: left;
  color: white;
  font-size: 1.5em;
}

.products {
  width: 50%;
  margin: auto;
}

.products td {
  width: 50%;
  padding: 1em;
}

.products img {
  width: 100%;
}

footer {
  background-color: grey;
  font-size: 1em;
  text-align: center;
}
